In [1]:
credit = pd.read_csv('AW_AveMonthSpend.csv')
credit.head()

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

%matplotlib inline

In [3]:
credit = pd.read_csv('AW_AveMonthSpend.csv')
credit.head()

   CustomerID  AveMonthSpend
0       11000             89
1       11001            117
2       11002            123
3       11003             50
4       11004             95

In [4]:
print(credit.shape)
print(credit.CustomerID.unique().shape)

(16519, 2)
(16404,)

In [6]:
credit.drop_duplicates(subset = 'CustomerID', keep = 'first', inplace = True)
print(credit.shape)
print(credit.CustomerID.unique().shape)

(16404, 2)
(16404,)

In [8]:
credit['AveMonthSpend'].min()

22

In [7]:
credit['AveMonthSpend'].max()

176

In [9]:
credit['AveMonthSpend'].std()

27.269568136558828

In [10]:
credit['AveMonthSpend'].median()

68.0

In [11]:
credit['AveMonthSpend'].mean()

72.3899049012436

In [12]:
biker=pd.read_csv('AW_BikeBuyer.csv')
biker.head()

   CustomerID  BikeBuyer
0       11000          0
1       11001          1
2       11002          0
3       11003          0
4       11004          1

In [13]:
AdvWorksCusts.csv

(16519, 2)
(16404,)

In [14]:
biker.drop_duplicates(subset = 'CustomerID', keep = 'first', inplace = True)
print(biker.shape)
print(biker.CustomerID.unique().shape)

(16404, 2)
(16404,)

In [15]:
biker.dtypes

CustomerID    int64
BikeBuyer     int64
dtype: object

In [19]:
for col in biker.columns:
    if biker[col].dtype == 'int64':
        count = 0
        count = [count + 1 for x in biker[col] if x == 0]
        print(col + ' ' + str(sum(count)))

CustomerID 0
BikeBuyer 10953

In [20]:
income=pd.read_csv("AdvWorksCusts.csv")
income.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,1968-08-08,Bachelors,Professional,F,S,1,4,5,5,92771

In [21]:
income.drop_duplicates(subset = 'CustomerID', keep = 'first', inplace = True)
print(income.shape)
print(income.CustomerID.unique().shape)

(16404, 23)
(16404,)

In [22]:
income.loc[income['Occupation'] == 'Professional', 'YearlyIncome'].median()

99051.5

In [23]:
income.loc[income['Occupation'] == 'Clerical', 'YearlyIncome'].median()

49481.0

In [24]:


income.loc[income['Occupation'] == 'Manual', 'YearlyIncome'].median()

21722.0

In [25]:
income.loc[income['Occupation'] == 'Skilled Manual', 'YearlyIncome'].median()

66471.5

In [26]:
income.loc[income['Occupation'] == 'Management', 'YearlyIncome'].median()

118781.0